Package: com.libretro.fmsx
Name: fmsx
Depends: 
Version: 0.0.1
Architecture: iphoneos-arm
Description: Libretro iOS core of fMSX
Maintainer: libretro
Author: libretro
Section: System
Tag: role::developer
